<p id="notice"><%= notice %></p>

<p>
<strong>Shopping List Name:</strong>
 <%= @list.name %>

</p>
<h2>People</h2>
<% if @list.people.any? %>
<ul><table>

 <% @list.people.each do |person| %>
<li><%= person.name %> | <%= person.budget %> | <%= person.list_id %></li>

 <% end %>
</ul>
<% else %>
<p>none available</p>
<% end %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
